<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strona Główna</title>
</head>
<body>
<header>
    <h1>Witaj Wojowniku</h1>
    <h2>Wybierz gdzie chcesz iść dalej</h2>
    <ul>

        <li><a href="/warrior/add-form">Dodawanie wojownika</a></li>
    </ul>
    <ul>
        <li><a href="/arena/fight-form">Arena</a></li>
    </ul>
    <ul>
        <li><a href="/hall-of-fame">Sala sław</a></li>
    </ul>

    </ul>
</header>
{{{body}}}
</body>
</html>
