<p>Wybierz Wojowników</p>
<form action="/arena/fight" method="POST">
{{>warrior-select select-name = "warrior1"}}
{{>warrior-select select-name = "warrior2"}}
    <button type="submit">Rozpocznij walke</button>
</form>